alabaster==1.0.0
annotated-types==0.8.0
babel==2.18.0
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
docutils==0.22.4
-e git+ssh://git@github.com/wjamesdevera/fin-track.git@cf64d254ed78b086e564cf241e33cf6c059c4214#egg=fintrack
ghp-import==2.1.0
greenlet==3.5.4
idna==3.18
imagesize==2.0.0
Jinja2==3.1.6
Markdown==3.10.3
MarkupSafe==3.0.3
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-dracula-theme==1.0.9
mkdocs-get-deps==0.2.2
mkdocs-gitbook==0.0.1
packaging==26.2
pathspec==1.1.1
platformdirs==4.11.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
requests==2.34.2
roman-numerals==4.1.0
six==1.17.0
snowballstemmer==3.1.1
Sphinx @ git+https://github.com/sphinx-doc/sphinx@9af5b469df42c810c62453661c1974c0f254e674
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.51
sqlmodel==0.0.39
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
watchdog==6.0.0
